* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(255, 212, 155);
  height: 100vh;
}

.side-bar {
  background-color: white;
  width: 300px;
  padding: 20px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-bar p {
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 28px;
  border-radius: 5px;
  cursor: pointer;
}

.side-bar p:hover {
  background-color: #dcdcdc;
}

.button {
  display: flex;
  padding: 10px;
}

.button button {
  background-color: white;
  font-size: 28px;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button button:hover {
  background-color: #dcdcdc;
}

.personal-info {
  background-color: #f9f9f9;
  padding: 20px 0;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-info h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-bottom: 1rem;
  text-align: center;
}
